@model JobApplication.Areas.Identity.Data.ViewModels.CandidateViewModel
@{
    ViewData["Title"] = "Index";
}

<div class="tab">
    <div class="displayImage">
        <img alt="zdjecie" />
        <label>Witaj @User.Identity.Name!</label>
    </div>
    <button class="tablinks" id="Panel" onclick="OpenNavbarItem(event, 'Candidate1')">Panel użytkownika</button>
    <button class="tablinks" id="DodajPrace" onclick="OpenNavbarItem(event, 'Candidate2')">Aplikowane oferty</button>
    <button class="tablinks" id="ofertypracy" onclick="OpenNavbarItem(event, 'Candidate3')">Sledż firmy</button>
    <button class="tablinks" id="Aplikacje" onclick="OpenNavbarItem(event, 'Candidate4')">Zapisane oferty</button>
    <button class="tablinks" id="Pakiety" onclick="OpenNavbarItem(event, 'Candidate5')">Powiadomienia</button>
    <button class="tablinks" id="ZapisaneCV" onclick="OpenNavbarItem(event, 'Candidate6')">Moje Recenzje</button>
    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
        <button class="tablinks" type="submit">Wyloguj!</button>
    </form>
</div>

<div class="userPanelPadding">
    <div id="Candidate1" class="tabcontent" style=" display:none">
        <main role="main" class="pb-3">
            <div class="login-Containter">
                <div class="row">
                    <div class="userblock-6">
                        <div class="box sandybrown">
                            <div class="row">
                                <div class="col-3">
                                    <div class="boxitem">
                                        <img alt="Zdjoncie" />
                                    </div>
                                </div>
                                <div class="col-9">
                                    <div class="boxitem">
                                        <div class="row">
                                            @User.Identity.Name
                                        </div>
                                        <div class="row">
                                            Nagłówek
                                        </div>
                                        <div class="row">
                                            <input type="button" class="tablinks" id="editProfile" value="Edytuj" onclick="OpenNavbarItem(event, 'Candidate8')" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="userblock-3">
                                <div class="box sandybrown">
                                    <div class="boxitem">
                                        cos tu
                                    </div>
                                </div>
                            </div>
                            <div class="userblock-3">
                                <div class="box darkseagreen">
                                    <div class="boxitem">
                                        cos tu
                                    </div>
                                </div>
                            </div>
                            <div class="userblock-3">
                                <div class="box cadetblue">
                                    <div class="boxitem">
                                        cos tu
                                    </div>
                                </div>
                            </div>
                            <div class="userblock-3">
                                <div class="box blanchedalmond">
                                    <div class="boxitem">
                                        cos tu
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="userblock-6">
                                <div class="box slategray">
                                    <div class="boxitem">
                                        cos tu
                                    </div>
                                </div>
                            </div>
                            <div class="userblock-6">
                                <div class="box slategray">
                                    <div class="boxitem">
                                        cos tu
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <div id="Candidate2" class="tabcontent" style=" display:none">

    </div>

    <div id="Candidate3" class="tabcontent" style=" display:none">
        <main role="main" class="pb-3">
            <div class="login-Containter">
                <div class="row">
                    <div class="col-4">
                        <div class="row">
                            <div class="col-9 px-0">
                                <div>
                                    <select class="form-input">
                                        <option>1</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-3 px-0">
                                <button>
                                    🔍
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div>
                            <select class="form-input">
                                <option>1</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-3">
                        <div>
                            <select class="form-input">
                                <option>1</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <table class="table table-sm table-striped table-bordered m-2">
                        <thead>
                            <tr>
                                <th>TYTYŁ</th>
                                <th>APLIKACJE</th>
                                <th>UTWORZONO</th>
                                <th>PRZEDAWNIONY</th>
                                <th>PODGLĄD</th>
                                <th>STATUS</th>
                                <th>WYRÓŻNIONE</th>
                                <th>AKCJA</th>
                            </tr>
                        </thead>
                        <tbody id="tablebody">
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
    </div>

    <div id="Candidate4" class="tabcontent" style=" display:none">
        <main role="main" class="pb-3">
            <div class="login-Containter">
                <div class="row">
                    <div class="col-4">
                        <div class="row">
                            <div class="col-9 px-0">
                                <div>
                                    <select class="form-input">
                                        <option>1</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-3 px-0">
                                <button>
                                    🔍
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div>
                            <select class="form-input">
                                <option>1</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-3">
                        <div>
                            <select class="form-input">
                                <option>1</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    Tu bedzie tabela z aplikacjami
                </div>
            </div>
        </main>
    </div>

    <div id="Candidate5" class="tabcontent" style=" display:none">

    </div>

    <div id="Candidate6" class="tabcontent" style=" display:none">
        <main role="main" class="pb-3">
            <div class="login-Containter">
                <div class="row">
                    <div class="col-3">
                        <div class="row">
                            <div class="col-9 px-0">
                                <div>
                                    <select class="form-input">
                                        <option>1</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-3 px-0">
                                <button>
                                    🔍
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    Tu bedzie tabela z cv
                </div>
            </div>
        </main>
    </div>

    <div id="Candidate7" class="tabcontent" style=" display:none">
        <main role="main" class="pb-3">
            <div class="login-Containter">
                <div class="row">
                    <div class="col-3">
                        <div class="row">
                            <div class="col-9 px-0">
                                <div>
                                    <select class="form-input">
                                        <option>1</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-3 px-0">
                                <button>
                                    🔍
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    Tu bedzie tabela z opiniami
                </div>
            </div>
        </main>
    </div>

    <div id="Candidate8" class="tabcontent" style=" display:none">

        <main role="main" class="pb-3">
            <div class="login-Containter">
                <div class="row">
                    <div class="col-2">
                        <div>
                            
                        </div>
                    </div>
                    <div class="col-10">
                        <div class="row">
                            <div>
                                Text costam
                            </div>
                        </div>
                        <div class="row">
                            <div>
                                <input type="button" />
                            </div>
                        </div>
                    </div>
                </div>
                <form asp-action="EditProfileEmployee" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" id="ID" asp-for="appUserDto.Id" />
                    <div class="form-group">
                        <input name="file" type="file" onchange="ShowPreview(this)" class="btn btn-primary" />
                    </div>
                    <img ID="impPrev" class="img-fluid rounded BackgroundImage backgroundimage-css" @*src="~/images/@Model.BackgroundImage"*@ />

                    <div class="container-padding">
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <div class="text-bottom-left-padding bolded">TWOJE IMIĘ*</div>
                                <input id="CompanyName" class="form-control form-input" asp-for="appUserDto.CompanyName" placeholder="Wprowadz nazwę firmy" />
                                <span asp-validation-for="appUserDto.CompanyName" class="text-danger"></span>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="text-bottom-left-padding bolded">EMAIL*</div>
                                <input id="Email" class="form-control form-input" asp-for="appUserDto.Email" placeholder="Wprowadz email" />
                                <span asp-validation-for="appUserDto.Email" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="container-padding">
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <div class="text-bottom-left-padding bolded">TELEFON</div>
                                <input id="PhoneNumber" class="form-control form-input" asp-for="appUserDto.PhoneNumber" placeholder="Wprowadz nagłówek" />
                                <span asp-validation-for="appUserDto.PhoneNumber" class="text-danger"></span>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="text-bottom-left-padding bolded">DATA URODZENIA*</div>
                                <input id="FoundingDate" class="form-control form-input" asp-for="appUserDto.FoundingDate" placeholder="Wprowadz email" />
                                <span asp-validation-for="appUserDto.FoundingDate" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="container-padding">
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <div class="text-bottom-left-padding bolded">NAGŁÓWEK</div>
                                <input id="Headline" class="form-control form-input" asp-for="appUserDto.Headline" placeholder="Wprowadz stronę internetową" />
                                <span asp-validation-for="appUserDto.Headline" class="text-danger"></span>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="text-bottom-left-padding bolded">PŁEĆ</div>
                                <input id="AppUserEmployeeExtensionGender" class="form-control form-input" asp-for="AppUserEmployeeExtension.Gender" placeholder="Wybierz płeć" />
                                <span asp-validation-for="AppUserEmployeeExtension.Gender" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="container-padding">
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <div class="text-bottom-left-padding bolded">UPUBLICZNIJ PROFIL*</div>
                                <select asp-for="AppUserEmployeeExtension.IsShowing" id="AppUserEmployeeExtensionIsShowing" asp-items="@Html.GetEnumSelectList<JobApplication.Areas.Identity.Data.IsShowing>()" class="form-control"></select>
                            </div>
                        </div>
                    </div>

                    <div class="container-padding">
                        <div class="row">
                            <div class="col-12">
                                <div class="text-bottom-left-padding bolded">OPIS*</div>
                                <textarea asp-for="appUserDto.ShortDescription" id="ShortDescrption" class="form-control form-input" placeholder="Wprowadz krótki opis"> </textarea>
                                <span asp-validation-for="appUserDto.ShortDescription" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="text-bottom-left-padding bolded">Plik CV (TYLKO W FORMACIE PDF)</div>
                        <input name="cvFile" accept="application/pdf" type="file" class="btn btn-primary" />
                        <input hidden="hidden" asp-for="AppUserEmployeeExtension.CVFile" id="AppUserEmployeeExtensionCVFile" />
                        <a id="checkifnull" asp-action="GetPdf">Pobierz Plik CV</a>
                    </div>
                    <div class="container-padding">
                        <div class="row">
                            <div class="col-12">

                                <div class="text-bottom-left-padding bolded">List Motywacyjny jako DESCRIPTION</div>
                                <textarea asp-for="appUserDto.Descrption" id="Descrption" class="form-control form-input" placeholder="Wprowadz krótki opis"> </textarea>
                                <span asp-validation-for="appUserDto.Descrption" class="text-danger"></span>

                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="container-padding">
                        <div class="row">
                            <div class="col-12">
                                <div class="text-bottom-left-padding bolded">PREFERENCJE ZAWODOWE</div>
                                <hr />
                                <input asp-for="AppUserEmployeeExtension.Id" id="AppUserEmployeeExtensionId" hidden="hidden" />
                                <div class="row">
                                    <div class="col-4">
                                        <div class="text-bottom-left-padding bolded">KATEGORIE*</div>
                                        <input id="Categories" asp-for="appUserDto.Categories" class="form-control form-input" placeholder="Nie wybrano" />
                                    </div>


                                    <div class="col-4">
                                        <div class="text-bottom-left-padding bolded">TYPY*</div>
                                        <input class="form-control form-input" id="AppUserEmployeeExtensionTypePreferes" asp-for="AppUserEmployeeExtension.TypePreferes" placeholder="Nie wybrano" />
                                    </div>


                                    <div class="col-4">
                                        <div class="text-bottom-left-padding bolded">POZIOMY*</div>
                                        <input class="form-control form-input" id="AppUserEmployeeExtensionLevels" asp-for="AppUserEmployeeExtension.Levels" placeholder="Nie wybrano" />
                                    </div>
                                </div>
                                <br />

                                <div class="row">
                                    <div class="col-4">
                                        <div class="text-bottom-left-padding bolded">LOKALIZACJA*</div>
                                        <input class="form-control form-input" id="AppUserEmployeeExtensionLocalization" asp-for="AppUserEmployeeExtension.Localization" placeholder="Nie wybrano" />
                                    </div>


                                    <div class="col-4">
                                        <div class="text-bottom-left-padding bolded">JĘZYKI </div>
                                        <input class="form-control form-input" id="AppUserEmployeeExtensionLanguages" asp-for="AppUserEmployeeExtension.Languages" placeholder="Nie wybrano" />
                                    </div>


                                    <div class="col-4">
                                        <div class="text-bottom-left-padding bolded">WYNAGRODZENIE OD</div>
                                        <input class="form-control form-input" id="AppUserEmployeeExtensionPaymentMinProfile" asp-for="AppUserEmployeeExtension.PaymentMinProfile" placeholder="Nie wybrano" />
                                    </div>

                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-4">
                                        <div class="text-bottom-left-padding bolded">DOŚWIADCZENIA</div>
                                        <input class="form-control form-input" id="AppUserEmployeeExtensionExperiencesProfile" asp-for="AppUserEmployeeExtension.ExperiencesProfile" placeholder="Nie wybrano" />
                                    </div>


                                    <div class="col-8">
                                        <div class="text-bottom-left-padding bolded">UMIEJĘTNOŚCI </div>
                                        <input class="form-control form-input" id="AppUserEmployeeExtensionSkillsProfile" asp-for="AppUserEmployeeExtension.SkillsProfile" placeholder="Nie wybrano" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br />
                    <div class="container-padding">
                        <div class="row">
                            <div class="col-12">
                                <h1 class="text-bottom-left-padding bolded">EDUKACJA</h1>
                                <hr />
                                <br />
                                @*<input  id="EducationEmployeeDegreeID"  asp-for="EducationEmployee[0].Id" hidden />
                    <div class="row">
                        <div class="col-4">
                            <div class="text-bottom-left-padding bolded">TYTUŁ</div>
                            <input id="EducationEmployeeDegree" asp-for="EducationEmployee[0].Degree" class="form-control form-input" placeholder="Nie wybrano" />
                        </div>


                        <div class="col-4">
                            <div class="text-bottom-left-padding bolded">NAZWA SZKOŁY</div>
                            <input class="form-control form-input" id="EducationEmployeeSchoolName" asp-for="EducationEmployee[0].SchoolName" placeholder="Nie wybrano" />
                        </div>


                        <div class="col-4">
                            <div class="text-bottom-left-padding bolded">DATA ROZPOCZĘCIA - DATA ZAKOŃCZENIA</div>
                            <input class="form-control form-input" id="EducationEmployeeDateStartEnd" asp-for="EducationEmployee[0].DateStartEnd" placeholder="Nie wybrano" />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-12">
                            <div class="text-bottom-left-padding bolded">OPIS</div>
                            <textarea class="form-control form-input" id="EducationEmployeeDescription" asp-for="EducationEmployee[0].Description" placeholder="Nie wybrano"></textarea>
                        </div>
                    </div>*@
                                <div class="form-group">
                                    <input id="AddButtonEducation" type="button" value="Dodaj" />
                                </div>

                                <div id="EducationContainer">
                                    <br />
                                </div>
                            </div>
                        </div>
                        <hr />
                    </div>

                    <div class="container-padding">
                        <div class="row">
                            <div class="col-12">
                                <h1 class="text-bottom-left-padding bolded">DOŚWIADCZENIA</h1>
                                <hr />
                                <br />
                                @*<div class="row">
                            <div class="col-12">
                                <div class="text-bottom-left-padding bolded">TYTUŁ</div>
                                <input id="ExperiencesEmployeeDegree" asp-for="ExperiencesEmployee[0].Degree" class="form-control form-input" placeholder="Nie wybrano" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="text-bottom-left-padding bolded">NAZWA FIRMY</div>
                                <input class="form-control form-input" id="ExperiencesEmployeeCompanyName" asp-for="ExperiencesEmployee[0].CompanyName" placeholder="Nie wybrano" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="text-bottom-left-padding bolded">DATA ROZPOCZĘCIA - DATA ZAKOŃCZENIA</div>
                                <input class="form-control form-input" id="ExperiencesEmployeeDateStartEnd" asp-for="ExperiencesEmployee[0].DateStartEnd" placeholder="Nie wybrano" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="text-bottom-left-padding bolded">OPIS</div>
                                <input class="form-control form-input" id="ExperiencesEmployeeDescription" asp-for="ExperiencesEmployee[0].Description" placeholder="Nie wybrano" />
                            </div>
                        </div>
                    </div>*@
                                <div class="form-group">
                                    <input id="AddButtonExperience" type="button" value="Dodaj" />
                                </div>

                                <div id="ExperienceContainer">
                                    <br />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container-padding">
                        <div class="row">
                            <div class="col-12">
                                <h1 class="text-bottom-left-padding bolded">UMIEJĘTNOŚCI</h1>
                                <hr />
                                <div class="form-group">
                                    <input id="AddButtonSkills" type="button" value="Dodaj" />
                                </div>

                                <div id="SkillsContainer">
                                    <br />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="container-padding">
                        <div class="row">
                            <div class="col-12">
                                <h1 class="text-bottom-left-padding bolded">SUKCESY I NAGRODY</h1>



                                <div id="AwardsContainer">
                                    <br />
                                </div>
                                <div class="form-group">
                                    <input id="AddButtonAwards" type="button" value="Dodaj" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="container-padding">
                        <div class="row">
                            <div class="col-12">
                                <div class="text-bottom-left-padding bolded">LOKALIZACJA I MAPA</div>
                                <div class="row">
                                    <div class="col-12">
                                        mapa
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="container-padding">
                        <div class="row">
                            <div class="col-12">
                                <div class="text-bottom-left-padding bolded">ADRES PLIKU WIDEO</div>
                                <div class="row">
                                    <div class="col-12">
                                        <input asp-for="appUserDto.VideoUrl" id="VideoUrl" class="form-control form-input" placeholder="Nie wybrano" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="container-padding">
                        <div class="row">
                            <div class="col-12">
                                <div class="text-bottom-left-padding bolded">ZDJĘCIE W TLE</div>
                                <div class="row">
                                    <div class="col-2">
                                        zdjecie
                                    </div>
                                    <div class="col-10">
                                        <input type="button" asp-for="appUserDto.BackgroundImage" class="form-control form-input" placeholder="Nie wybrano" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="container-padding">
                        <div class="row">
                            <div class="col-12">
                                <div class="text-bottom-left-padding bolded">GALERIA</div>
                                <div class="row">
                                    ???
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="container-padding">
                        <div class="row">
                            <div class="col-12">
                                <div class="text-bottom-left-padding bolded">FIRMOWY PROFIL SPOŁECZNOŚCIOWY</div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-12">
                                        <div class="text-bottom-left-padding bolded">FACEBOOK</div>
                                        <input id="FacebookProfile" class="form-control form-input" asp-for="appUserDto.FacebookProfile" placeholder="Wprowadz profil facebooka" />
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <div class="text-bottom-left-padding bolded">TWITTER</div>
                                        <input id="TwitterProfile" class="form-control form-input" asp-for="appUserDto.TwitterProfile" placeholder="Wprowadz profil twittera" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-12">
                                        <div class="text-bottom-left-padding bolded">YOUTUBE</div>
                                        <input id="YoutubeProfile" class="form-control form-input" asp-for="appUserDto.YoutubeProfile" placeholder="Wprowadz profil youtube" />
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <div class="text-bottom-left-padding bolded">VIMEO</div>
                                        <input id="VimeoProfile" class="form-control form-input" asp-for="appUserDto.VimeoProfile" placeholder="Wprowadz profil vimeo" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-12">
                                        <div class="text-bottom-left-padding bolded">LINKEDIN</div>
                                        <input id="LinkedinProfile" class="form-control form-input" asp-for="appUserDto.LinkedinProfile" placeholder="Wprowadz profil linkedin" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="submit" value="Zaaktualizuj profil" class="btn btn-primary" />
                </form>
                @*<a asp-controller="Panel" class="btn btn-secondary" asp-action="ResetPassword"> ZMIEN HASLO</a>*@
            </div>
        </main>

    </div>


</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script type="text/javascript">
    i = 0;
    b = 0;
    j = 0;
    k = 0;
    $(document).ready(function () {
        $("#AddButtonEducation").click(function () {
            CreateFild(i, 'EducationEmployee', 'Id', 'Degree', 'SchoolName', 'DateStartEnd', 'Description', 'EducationContainer');
            i++;
        });


        var pageURL = $(location).attr("href");
        var edited = pageURL.substr(pageURL.indexOf("=") + 1);
        if (edited == "EditProfile") {
            ajaxfunction();
        }
        $("#editProfile").click(function () { ajaxfunction(); });

    });

    $("#AddButtonExperience").click(function () {
        CreateFild(b, 'ExperiencesEmployee', 'Id', 'Degree', 'CompanyName', 'DateStartEnd', 'Description', 'ExperienceContainer');
        b++;
    });

    $("#AddButtonAwards").click(function () {

        CreateFild(j, 'AwardsEmployee', 'Id', '', 'Award', 'Year', 'Description', 'AwardsContainer');
        j++;

    });

    $("#AddButtonSkills").click(function () {
        CreateFild(k, 'SkillsEmployee', 'Id', '', '', 'Degree', 'Percentage', 'SkillsContainer');
        k++;
    });

    function RemoveTextBox(button) {
        $(button).parent().remove();
        location.reload();
    }

    function CreateFild(i, a, b, c, d, e, f, containerName) {
        var div = $("<div />");
        var divcol4first = $("<div />");
        var divcol4second = $("<div />");
        var divcol4third = $("<div />");
        var divcol4fourth = $("<div />");
        var divcol4fivth = $("<div />");
        var divtext = $("<div />");
        var divtext2 = $("<div />");
        var divtext3 = $("<div />");
        var divtext4 = $("<div />");
        var br = $("<br/>");
        var hr = $("<hr/>");
        if (containerName == 'EducationContainer') {
            $(divtext).html('TYTUŁ');
            $(divtext2).html('NAZWA SZKOŁY');
            $(divtext3).html('DATA ROZPOCZĘCIA - DATA ZAKOŃCZENIA');
            $(divtext4).html('OPIS');
        }
        if (containerName == 'ExperienceContainer') {
            $(divtext).html('TYTUŁ');
            $(divtext2).html('NAZWA ');
            $(divtext3).html('DATA ROZPOCZĘCIA - DATA ZAKOŃCZENIA');
            $(divtext4).html('OPIS');
        }
        if (containerName == 'SkillsContainer') {
            $(divtext2).html('TYTUŁ');
            $(divtext3).html('WARTOŚĆ (PROCENTOWA)');
            var EduEmpschoolNameBox = $("<input />").attr("type", "textbox").attr("name", a + "[" + i + "]." + e).addClass("form-control form-input");
            var EduEmpDateBox = $("<input />").attr("type", "number").attr("name", a + "[" + i + "]." + f).addClass("form-control form-input").attr("max", "100").attr("min", "0");
            divcol4third.addClass("col-6");
            divcol4fourth.addClass("col-6");
        }

        if (containerName == 'AwardsContainer') {
            $(divtext4).html('OPIS');
            $(divtext2).html('TYTUŁ');
            $(divtext3).html('ROK');
            var EduEmpschoolNameBox = $("<input />").attr("type", "textbox").attr("name", a + "[" + i + "]." + d).addClass("form-control form-input");
            var EduEmpdescriptionBox = $("<textarea />").attr("type", "textbox").attr("name", a + "[" + i + "]." + f).addClass("form-control form-input");
            var EduEmpDateBox = $("<input />").attr("type", "textbox").attr("name", a + "[" + i + "]." + e).addClass("form-control form-input");
            divcol4third.addClass("col-6");
            divcol4fourth.addClass("col-6");
        }


        if (containerName == 'EducationContainer' || containerName == 'ExperienceContainer') {
            var EduEmpdegreeBox = $("<input />").attr("type", "textbox").attr("name", a + "[" + i + "]." + c).addClass("form-control form-input");
            var EduEmpschoolNameBox = $("<input />").attr("type", "textbox").attr("name", a + "[" + i + "]." + d).addClass("form-control form-input");
            var EduEmpdescriptionBox = $("<textarea />").attr("type", "textbox").attr("name", a + "[" + i + "]." + f).addClass("form-control form-input");
            var EduEmpDateBox = $("<input />").attr("type", "textbox").attr("name", a + "[" + i + "]." + e).addClass("form-control form-input");

            divcol4second.addClass("col-4");
            divcol4second.append(divtext);
            divcol4second.append(EduEmpdegreeBox);
            div.append(divcol4second);
            divcol4third.addClass("col-4");
            divcol4fourth.addClass("col-4");
        }

        var EduEmpdegreeIdx = $("<input />").attr("type", "textbox").attr("name", a + "[" + i + "]." + b).addClass("form-control form-input").attr("type", "hidden");
        $(EduEmpdegreeIdx).val("0");

        divtext.addClass("text-bottom-left-padding bolded");
        divtext2.addClass("text-bottom-left-padding bolded");
        divtext3.addClass("text-bottom-left-padding bolded");
        divtext4.addClass("text-bottom-left-padding bolded");


        divcol4fivth.addClass("col-12");
        divcol4fivth.append(br);

        divcol4third.append(divtext2);
        divcol4fourth.append(divtext3);
        divcol4fivth.append(divtext4);


        divcol4third.append(EduEmpschoolNameBox);
        divcol4fourth.append(EduEmpDateBox);
        divcol4fivth.append(EduEmpdescriptionBox);

        div.append(divcol4first);

        div.append(divcol4third);
        div.append(divcol4fourth);
        div.append(divcol4fivth);

        div.addClass("row")
        div.append(EduEmpdegreeIdx);
        var button = $("<input />").attr("type", "button").attr("value", "Remove");
        button.attr("onclick", "RemoveTextBox(this)");

        $("#" + containerName).append(div).append(br).append(hr);
    }

    function ajaxfunction() {

        $.ajax({
            method: "GET",
            url: "/CandidatePanel/EditProfileEmployee",
            success: function (data) {

                // if data is in string format
                var Data = $.parseJSON(data);

                $("#CompanyName").val(Data.appUserDto["CompanyName"]);
                $("#Email").val(Data.appUserDto["Email"]);
                $("#PhoneNumber").val(Data.appUserDto["PhoneNumber"]);
                $("#VideoUrl").val(Data.appUserDto["VideoUrl"]);
                $("#Website").val(Data.appUserDto["Website"]);
                $("#VideoUrl").val(Data.appUserDto["VideoUrl"]);
                $("#FoundingDate").val(Data.appUserDto["FoundingDate"]);
                $("#ShortDescrption").val(Data.appUserDto["ShortDescription"]);
                $("#Descrption").val(Data.appUserDto["Descrption"]);
                $("#Categories").val(Data.appUserDto["Categories"]);
                $("#Headline").val(Data.appUserDto["Headline"]);
                $("#LinkedinProfile").val(Data.appUserDto["LinkedinProfile"]);
                $("#TwitterProfile").val(Data.appUserDto["TwitterProfile"]);
                $("#VimeoProfile").val(Data.appUserDto["VimeoProfile"]);
                 $("#VimeoProfile").val(Data.appUserDto["VimeoProfile"]);
                $("#YoutubeProfile").val(Data.appUserDto["YoutubeProfile"]);
                $("#FacebookProfile").val(Data.appUserDto["FacebookProfile"]);
                $(".BackgroundImage").attr("src", "/images/" + Data.appUserDto["BackgroundImage"]);
                $("#AppUserEmployeeExtensionId").val(Data.AppUserEmployeeExtension["Id"]);
                $("#AppUserEmployeeExtensionGender").val(Data.AppUserEmployeeExtension["Gender"]);
                $("#AppUserEmployeeExtensionIsShowing").val(Data.AppUserEmployeeExtension["IsShowing"]);
                $("#AppUserEmployeeExtensionLanguages").val(Data.AppUserEmployeeExtension["Languages"]);

                $("#AppUserEmployeeExtensionTypePreferes").val(Data.AppUserEmployeeExtension["TypePreferes"]);
                $("#AppUserEmployeeExtensionLevels").val(Data.AppUserEmployeeExtension["Levels"]);
                $("#AppUserEmployeeExtensionLocalization").val(Data.AppUserEmployeeExtension["Localization"]);
                $("#AppUserEmployeeExtensionPaymentMinProfile").val(Data.AppUserEmployeeExtension["PaymentMinProfile"]);
                $("#AppUserEmployeeExtensionExperiencesProfile").val(Data.AppUserEmployeeExtension["ExperiencesProfile"]);
                $("#AppUserEmployeeExtensionSkillsProfile").val(Data.AppUserEmployeeExtension["SkillsProfile"]);

                $("#AppUserEmployeeExtensionCVFile").val(Data.AppUserEmployeeExtension["CVFile"]);

                if (Data.AppUserEmployeeExtension["CVFile"] == null) {
                    $("#checkifnull").attr("style", "display:none");
                }
                $.each(Data.EducationEmployee, function (value) {
                    CreateFild(i, 'EducationEmployee', 'Id', 'Degree', 'SchoolName', 'DateStartEnd', 'Description', 'EducationContainer');
                    $("input[name*='EducationEmployee[" + i + "].Degree']").val(Data.EducationEmployee[value]["Degree"]);
                    $("input[name*='EducationEmployee[" + i + "].Id']").val(Data.EducationEmployee[value]["Id"]);
                    $("input[name*='EducationEmployee[" + i + "].SchoolName']").val(Data.EducationEmployee[value]["SchoolName"]);
                    $("input[name*='EducationEmployee[" + i + "].DateStartEnd']").val(Data.EducationEmployee[value]["DateStartEnd"]);
                    $("textarea[name*='EducationEmployee[" + i + "].Description']").val(Data.EducationEmployee[value]["Description"]);
                    i++;
                });

                $.each(Data.ExperiencesEmployee, function (value) {

                    CreateFild(b, 'ExperiencesEmployee', 'Id', 'Degree', 'CompanyName', 'DateStartEnd', 'Description', 'ExperienceContainer');
                    $("input[name*='ExperiencesEmployee[" + b + "].Degree']").val(Data.ExperiencesEmployee[value]["Degree"]);
                    $("input[name*='ExperiencesEmployee[" + b + "].Id']").val(Data.ExperiencesEmployee[value]["Id"]);
                    $("input[name*='ExperiencesEmployee[" + b + "].CompanyName']").val(Data.ExperiencesEmployee[value]["CompanyName"]);
                    $("input[name*='ExperiencesEmployee[" + b + "].DateStartEnd']").val(Data.ExperiencesEmployee[value]["DateStartEnd"]);
                    $("textarea[name*='ExperiencesEmployee[" + b + "].Description']").val(Data.ExperiencesEmployee[value]["Description"]);
                    b++;

                });

                $.each(Data.AwardsEmployee, function (value) {

                    CreateFild(j, 'AwardsEmployee', 'Id', '', 'Award', 'Year', 'Description', 'AwardsContainer');
                    $("input[name*='AwardsEmployee[" + j + "].Award']").val(Data.AwardsEmployee[value]["Award"]);
                    $("input[name*='AwardsEmployee[" + j + "].Id']").val(Data.AwardsEmployee[value]["Id"]);
                    $("input[name*='AwardsEmployee[" + j + "].Year']").val(Data.AwardsEmployee[value]["Year"]);
                    $("textarea[name*='AwardsEmployee[" + j + "].Description']").val(Data.AwardsEmployee[value]["Description"]);
                    j++;
                });

                $.each(Data.SkillsEmployee, function (value) {

                    CreateFild(k, 'SkillsEmployee', 'Id', '', '', 'Degree', 'Percentage', 'SkillsContainer');
                    $("input[name*='SkillsEmployee[" + k + "].Degree']").val(Data.SkillsEmployee[value]["Degree"]);
                    $("input[name*='SkillsEmployee[" + k + "].Id']").val(Data.SkillsEmployee[value]["Id"]);
                    $("input[name*='SkillsEmployee[" + k + "].Percentage']").val(Data.SkillsEmployee[value]["Percentage"]);
                    k++;
                });

            }
        });

    }


    $(document).ready(function () {

        LoadTabindex();
    });





    function LoadTabindex() {
        var pageURL = $(location).attr("href");
        var edited = pageURL.substr(pageURL.indexOf("=") + 1);
        if (edited == "Panel") {
            OpenNavbarItemOnLoad('Candidate1');
        }
        else if (edited == "AplikowaneOferty") {
            OpenNavbarItemOnLoad('Candidate2');
        }
        else if (edited == "Sledzfirmy") {
            OpenNavbarItemOnLoad('Candidate3');
        }
        else if (edited == "ZapisaneOferty") {
            OpenNavbarItemOnLoad('Candidate4');
        }
        else if (edited == "Powiadomienia") {
            OpenNavbarItemOnLoad('Candidate5');
        }
        else if (edited == "MojeRecenzje") {
            OpenNavbarItemOnLoad('Candidate6');
        }
        else if (edited == "EditProfile") {
            OpenNavbarItemOnLoad('Candidate8');
          
        }
        else {
            OpenNavbarItemOnLoad("Candidate1");
            changeurl('Panel');
        }

    }

    function OpenNavbarItem(evt, itemNumber) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(itemNumber).style.display = "block";
        evt.currentTarget.className += " active";

        if (itemNumber == "Candidate1") {
            changeurl('Panel');
        }
        else if (itemNumber == "Candidate2") {
            changeurl('AplikowaneOferty');
        }
        else if (itemNumber == "Candidate3") {
            changeurl('Sledzfirmy');
        }
        else if (itemNumber == "Candidate4") {
            changeurl('ZapisaneOferty');
        }
        else if (itemNumber == "Candidate5") {
            changeurl('Powiadomienia');
        }
        else if (itemNumber == "Candidate6") {
            changeurl('MojeRecenzje');
        }
        else if (itemNumber == "Candidate8") {
            changeurl('EditProfile');
            location.reload();
        }
        else {
            changeurl('Panel');
        }
    }


    function OpenNavbarItemOnLoad(itemNumber) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(itemNumber).style.display = "block";



    }


    function changeurl(url) {
        var new_url = "/CandidatePanel?name=" + url;
        window.history.pushState("data", "Title", new_url);
        //document.title = url;
    }


    $(document).ready(function () {

        LoadTabindex();
        var pageURL = $(location).attr("href");
        var edited = pageURL.substr(pageURL.indexOf("=") + 1);
        if (edited == "MojeOferty") {
            ajaxfun();
        }
        $("#ofertypracy").click(function () {
            ajaxfun();
        });
    });

    function ajaxfun() {
        $("#tablebody tr").remove();
        $.ajax({
            url: "/CandidatePanel/AppliedOffers",
            type: "get",
            success: function (data) {
                var Data = $.parseJSON(data);
                if (Data == "") {
                    alert("Brak ofert aplikowanych");
                }

                $.each(Data, function (value) {
                    $("tbody").append($("<tr>"));
                    appendElement = $("tbody tr").last();
                    appendElement.append($("<td>").html(Data[value]["Title"]));
                    appendElement.append($("<td>").html(Data[value]["TypeOfJob"]));
                    appendElement.append($("<td>").html(Data[value]["PublicationTime"]));
                    appendElement.append($("<td>").html(Data[value]["Deadline"]));
                    appendElement.append($("<td>").html(Data[value]["Deadline"]));
                    appendElement.append($("<td>").html(Data[value]["Deadline"]));
                    appendElement.append($("<td>").html(Data[value]["Deadline"]));
                });
            },
            error: function (xhr, status, error) {
                console.log(xhr)
            }
        });
    }
</script>
}
