@model JobApplication.Areas.Identity.Data.AppUser
@{
    ViewData["Title"] = "Index";
}

<div class="tab">
    <div class="displayImage">
        <img alt="zdjecie" />
        <label>Witaj @User.Identity.Name!</label>
    </div>
    <button class="tablinks" id="Panel" onclick="OpenNavbarItem(event, 'Candidate1')">Panel użytkownika</button>
    <button class="tablinks" id="DodajPrace" onclick="OpenNavbarItem(event, 'Candidate2')">Aplikowane oferty</button>
    <button class="tablinks" id="ofertypracy" onclick="OpenNavbarItem(event, 'Candidate3')">Sledż firmy</button>
    <button class="tablinks" id="Aplikacje" onclick="OpenNavbarItem(event, 'Candidate4')">Zapisane oferty</button>
    <button class="tablinks" id="Pakiety" onclick="OpenNavbarItem(event, 'Candidate5')">Powiadomienia</button>
    <button class="tablinks" id="ZapisaneCV" onclick="OpenNavbarItem(event, 'Candidate6')">Moje Recenzje</button>
    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
        <button class="tablinks" type="submit">Wyloguj!</button>
    </form>
</div>

<div class="userPanelPadding">
    <div id="Candidate1" class="tabcontent" style=" display:none">
        <main role="main" class="pb-3">
            <div class="login-Containter">
                <div class="row">
                    <div class="userblock-6">
                        <div class="box sandybrown">
                            <div class="row">
                                <div class="col-3">
                                    <div class="boxitem">
                                        <img alt="Zdjoncie" />
                                    </div>
                                </div>
                                <div class="col-9">
                                    <div class="boxitem">
                                        <div class="row">
                                            @User.Identity.Name
                                        </div>
                                        <div class="row">
                                            Nagłówek
                                        </div>
                                        <div class="row">
                                            <input type="button" class="tablinks" id="editProfile" value="Edytuj" onclick="OpenNavbarItem(event, 'Candidate8')" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="userblock-3">
                                <div class="box sandybrown">
                                    <div class="boxitem">
                                        cos tu
                                    </div>
                                </div>
                            </div>
                            <div class="userblock-3">
                                <div class="box darkseagreen">
                                    <div class="boxitem">
                                        cos tu
                                    </div>
                                </div>
                            </div>
                            <div class="userblock-3">
                                <div class="box cadetblue">
                                    <div class="boxitem">
                                        cos tu
                                    </div>
                                </div>
                            </div>
                            <div class="userblock-3">
                                <div class="box blanchedalmond">
                                    <div class="boxitem">
                                        cos tu
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="userblock-6">
                                <div class="box slategray">
                                    <div class="boxitem">
                                        cos tu
                                    </div>
                                </div>
                            </div>
                            <div class="userblock-6">
                                <div class="box slategray">
                                    <div class="boxitem">
                                        cos tu
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
   
    <div id="Candidate2" class="tabcontent" style=" display:none">
       
    </div>

    <div id="Candidate3" class="tabcontent" style=" display:none">
        <main role="main" class="pb-3">
            <div class="login-Containter">
                <div class="row">
                    <div class="col-4">
                        <div class="row">
                            <div class="col-9 px-0">
                                <div>
                                    <select class="form-input">
                                        <option>1</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-3 px-0">
                                <button>
                                    🔍
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div>
                            <select class="form-input">
                                <option>1</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-3">
                        <div>
                            <select class="form-input">
                                <option>1</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <table class="table table-sm table-striped table-bordered m-2">
                        <thead>
                            <tr>
                                <th>TYTYŁ</th>
                                <th>APLIKACJE</th>
                                <th>UTWORZONO</th>
                                <th>PRZEDAWNIONY</th>
                                <th>PODGLĄD</th>
                                <th>STATUS</th>
                                <th>WYRÓŻNIONE</th>
                                <th>AKCJA</th>
                            </tr>
                        </thead>
                        <tbody id="tablebody">
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
    </div>

    <div id="Candidate4" class="tabcontent" style=" display:none">
        <main role="main" class="pb-3">
            <div class="login-Containter">
                <div class="row">
                    <div class="col-4">
                        <div class="row">
                            <div class="col-9 px-0">
                                <div>
                                    <select class="form-input">
                                        <option>1</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-3 px-0">
                                <button>
                                    🔍
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div>
                            <select class="form-input">
                                <option>1</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-3">
                        <div>
                            <select class="form-input">
                                <option>1</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    Tu bedzie tabela z aplikacjami
                </div>
            </div>
        </main>
    </div>

    <div id="Candidate5" class="tabcontent" style=" display:none">

    </div>

    <div id="Candidate6" class="tabcontent" style=" display:none">
        <main role="main" class="pb-3">
            <div class="login-Containter">
                <div class="row">
                    <div class="col-3">
                        <div class="row">
                            <div class="col-9 px-0">
                                <div>
                                    <select class="form-input">
                                        <option>1</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-3 px-0">
                                <button>
                                    🔍
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    Tu bedzie tabela z cv
                </div>
            </div>
        </main>
    </div>

    <div id="Candidate7" class="tabcontent" style=" display:none">
        <main role="main" class="pb-3">
            <div class="login-Containter">
                <div class="row">
                    <div class="col-3">
                        <div class="row">
                            <div class="col-9 px-0">
                                <div>
                                    <select class="form-input">
                                        <option>1</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-3 px-0">
                                <button>
                                    🔍
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    Tu bedzie tabela z opiniami
                </div>
            </div>
        </main>
    </div>

    <div id="Candidate8" class="tabcontent" style=" display:none">

        <main role="main" class="pb-3">
            <div class="login-Containter">
                <div class="row">
                    <div class="col-2">
                        <div>
                            @*<div class="form-group">
                                    <input name="file" type="file" onchange="ShowPreview(this)" class="btn btn-primary" />
                                </div>
                                <img ID="impPrev" class="img-fluid rounded" src="~/images/@Model.BackgroundImage" />*@
                        </div>
                    </div>
                    <div class="col-10">
                        <div class="row">
                            <div>
                                Text costam
                            </div>
                        </div>
                        <div class="row">
                            <div>
                                <input type="button" />
                            </div>
                        </div>
                    </div>
                </div>
                <form asp-action="ProfilePost" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" id="ID" asp-for="Id" />
                    <div class="form-group">
                        <input name="file" type="file" onchange="ShowPreview(this)" class="btn btn-primary" />
                    </div>
                    <img ID="impPrev" class="img-fluid rounded BackgroundImage backgroundimage-css" @*src="~/images/@Model.BackgroundImage"*@ />

                    <div class="container-padding">
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <div class="text-bottom-left-padding bolded">NAZWA UŻYTKOWNIKA*</div>
                                <input id="CompanyName" class="form-control form-input" asp-for="UserName" placeholder="Wprowadz nazwę firmy" />
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="text-bottom-left-padding bolded">EMAIL*</div>
                                <input id="Email" class="form-control form-input" asp-for="Email" placeholder="Wprowadz email" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="container-padding">
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <div class="text-bottom-left-padding bolded">TELEFON</div>
                                <input id="Headline" class="form-control form-input" asp-for="Headline" placeholder="Wprowadz nagłówek" />
                                <span asp-validation-for="Headline" class="text-danger"></span>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="text-bottom-left-padding bolded">DATA URODZENIA*</div>
                                <input id="PhoneNumber" class="form-control form-input" asp-for="PhoneNumber" placeholder="Wprowadz email" />
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="container-padding">
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <div class="text-bottom-left-padding bolded">NAGŁÓWEK</div>
                                <input id="Website" class="form-control form-input" asp-for="Website" placeholder="Wprowadz stronę internetową" />
                                <span asp-validation-for="Website" class="text-danger"></span>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="text-bottom-left-padding bolded">PŁEĆ</div>
                                <input id="FoundingDate" class="form-control form-input" asp-for="FoundingDate" placeholder="Wprowadz datę założenia" />
                                <span asp-validation-for="FoundingDate" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="container-padding">
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <div class="text-bottom-left-padding bolded">UPUBLICZNIJ PROFIL*</div>
                                <select asp-for="CompanySize" id="CompanySize" asp-items="@Html.GetEnumSelectList<JobApplication.Areas.Identity.Data.CompanySize>()" class="form-control"></select>
                            </div>
                        </div>
                    </div>

                    <div class="container-padding">
                        <div class="row">
                            <div class="col-12">
                                <div class="text-bottom-left-padding bolded">OPIS</div>
                                <textarea asp-for="Descrption" id="Descrption" class="form-control form-input" placeholder="Wprowadz krótki opis"> </textarea>
                                <span asp-validation-for="Descrption" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="container-padding">
                        <div class="row">
                            <div class="col-12">
                                <div class="row">

                                </div>
                                <div class="row">
                                    <div class="text-bottom-left-padding bolded">OPIS</div>
                                    <textarea asp-for="Descrption" id="Descrption" class="form-control form-input" placeholder="Wprowadz krótki opis"> </textarea>
                                    <span asp-validation-for="Descrption" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="container-padding">
                        <div class="row">
                            <div class="col-12">
                                <div class="text-bottom-left-padding bolded">PREFERENCJE ZAWODOWE</div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="text-bottom-left-padding bolded">KATEGORIE</div>
                                        <input id="Categories" asp-for="Categories" class="form-control form-input" placeholder="Nie wybrano" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="container-padding">
                        <div class="row">
                            <div class="col-12">
                                <div class="text-bottom-left-padding bolded">LOKALIZACJA I MAPA</div>
                                <div class="row">
                                    <div class="col-12">
                                        mapa
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="container-padding">
                        <div class="row">
                            <div class="col-12">
                                <div class="text-bottom-left-padding bolded">ADRES PLIKU WIDEO</div>
                                <div class="row">
                                    <div class="col-12">
                                        <input asp-for="VideoUrl" id="VideoUrl" class="form-control form-input" placeholder="Nie wybrano" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="container-padding">
                        <div class="row">
                            <div class="col-12">
                                <div class="text-bottom-left-padding bolded">ZDJĘCIE W TLE</div>
                                <div class="row">
                                    <div class="col-2">
                                        zdjecie
                                    </div>
                                    <div class="col-10">
                                        <input type="button" asp-for="VideoUrl" class="form-control form-input" placeholder="Nie wybrano" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="container-padding">
                        <div class="row">
                            <div class="col-12">
                                <div class="text-bottom-left-padding bolded">GALERIA</div>
                                <div class="row">
                                    ???
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="container-padding">
                        <div class="row">
                            <div class="col-12">
                                <div class="text-bottom-left-padding bolded">FIRMOWY PROFIL SPOŁECZNOŚCIOWY</div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-12">
                                        <div class="text-bottom-left-padding bolded">FACEBOOK</div>
                                        <input id="FacebookProfile" class="form-control form-input" asp-for="FacebookProfile" placeholder="Wprowadz profil facebooka" />
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <div class="text-bottom-left-padding bolded">TWITTER</div>
                                        <input id="TwitterProfile" class="form-control form-input" asp-for="TwitterProfile" placeholder="Wprowadz profil twittera" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-12">
                                        <div class="text-bottom-left-padding bolded">YOUTUBE</div>
                                        <input id="YoutubeProfile" class="form-control form-input" asp-for="YoutubeProfile" placeholder="Wprowadz profil youtube" />
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <div class="text-bottom-left-padding bolded">VIMEO</div>
                                        <input id="VimeoProfile" class="form-control form-input" asp-for="VimeoProfile" placeholder="Wprowadz profil vimeo" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-12">
                                        <div class="text-bottom-left-padding bolded">LINKEDIN</div>
                                        <input id="LinkedinProfile" class="form-control form-input" asp-for="LinkedinProfile" placeholder="Wprowadz profil linkedin" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="submit" value="Zaaktualizuj profil" class="btn btn-primary" />
                </form>
                <a asp-controller="Panel" class="btn btn-secondary" asp-action="ResetPassword"> ZMIEN HASLO</a>
            </div>
        </main>

    </div>


</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>

        $("#editProfile").click(function () {
            $.ajax({
                method: "GET",
                url: "/EmployerPanel/EditProfile",
                success: function (data) {
                    alert(data);
                    // if data is in string format
                    var Data = $.parseJSON(data);
                    $("#ID").val(Data.Id);
                    $("#CompanyName").val(Data.CompanyName);
                    $("#Email").val(Data.Email);
                    $("#VideoUrl").val(Data.VideoUrl);
                    $("#Website").val(Data.Website);
                    $("#FoundingDate").val(Data.FoundingDate);
                    $("#ShortDescription").val(Data.ShortDescription);
                    $("#Descrption").val(Data.Descrption);
                    $("#Categories").val(Data.Categories);
                    $("#CompanySize").val(Data.CompanySize);


                    $("#Address").val(Data.Address);
                    $("#PhoneNumber").val(Data.PhoneNumber);
                    //$("#BackgroundImage").val(Data.BackgroundImage);
                    $(".BackgroundImage").attr("src", "/images/" + Data.BackgroundImage);
                    $("#FacebookProfile").val(Data.FacebookProfile);
                    $("#Gallery").val(Data.Gallery);
                    $("#Headline").val(Data.Headline);
                    $("#LinkedinProfile").val(Data.LinkedinProfile);
                    $("#TwitterProfile").val(Data.TwitterProfile);

                    $("#VideoUrl").val(Data.VideoUrl);
                    $("#VimeoProfile").val(Data.VimeoProfile);
                    $("#YoutubeProfile").val(Data.YoutubeProfile);

                }
            });
        });

        //$(document).ready(function () {
        //    $(".tablinks").click(function () {
        //        var id = $(this).attr("id");
        //        var url = "/Panel?ID=" + id;
        //        window.location.href = url;
        //    });
        //});

        $(document).ready(function () {

            LoadTabindex();
            $("#ofertypracy").click(function () {
                $("#tablebody tr").remove();
                $.ajax({
                    url: "/EmployerPanel/GetJobOffers",
                    type: "get",
                    success: function (data) {
                        var Data = $.parseJSON(data);
                        $.each(Data, function (value) {
                            $("tbody").append($("<tr>"));
                            appendElement = $("tbody tr").last();
                            appendElement.append($("<td>").html(Data[value]["Title"]));
                            appendElement.append($("<td>").html(Data[value]["TypeOfJob"]));
                            appendElement.append($("<td>").html(Data[value]["PublicationTime"]));
                            appendElement.append($("<td>").html(Data[value]["Deadline"]));
                            appendElement.append($("<td>").html(Data[value]["Deadline"]));
                            appendElement.append($("<td>").html(Data[value]["Deadline"]));
                            appendElement.append($("<td>").html(Data[value]["Deadline"]));
                            appendElement.append($("<td>").html(Data[value]["Deadline"]));
                        });
                    },
                    error: function (xhr, status, error) {
                        console.log(xhr)
                    }
                });
            });

        });



        function LoadTabindex() {
            var pageURL = $(location).attr("href");
            var edited = pageURL.substr(pageURL.indexOf("=") + 1);
            if (edited == "Panel") {
                OpenNavbarItemOnLoad('Candidate1');
            }
            else if (edited == "AplikowaneOferty") {
                OpenNavbarItemOnLoad('Candidate2');
            }
            else if (edited == "Sledzfirmy") {
                OpenNavbarItemOnLoad('Candidate3');
            }
            else if (edited == "ZapisaneOferty") {
                OpenNavbarItemOnLoad('Candidate4');
            }
            else if (edited == "Powiadomienia") {
                OpenNavbarItemOnLoad('Candidate5');
            }
            else if (edited == "MojeRecenzje") {
                OpenNavbarItemOnLoad('Candidate6');
            }
            else {
                OpenNavbarItemOnLoad("Candidate1");
                changeurl('Panel');
            }
        }

        function OpenNavbarItem(evt, itemNumber) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(itemNumber).style.display = "block";
            evt.currentTarget.className += " active";

            if (itemNumber == "Candidate1") {
                changeurl('Panel');
            }
            else if (itemNumber == "Candidate2") {
                changeurl('AplikowaneOferty');
            }
            else if (itemNumber == "Candidate3") {
                changeurl('Sledzfirmy');
            }
            else if (itemNumber == "Candidate4") {
                changeurl('ZapisaneOferty');
            }
            else if (itemNumber == "Candidate5") {
                changeurl('Powiadomienia');
            }
            else if (itemNumber == "Candidate6") {
                changeurl('MojeRecenzje');
            }
            else {
                changeurl('Panel');
            }
        }


        function OpenNavbarItemOnLoad(itemNumber) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(itemNumber).style.display = "block";



        }


        function changeurl(url) {
            var new_url = "/CandidatePanel?name=" + url;
            window.history.pushState("data", "Title", new_url);
            //document.title = url;
        }

    </script>
}
