<a class="nav-link dropdown-toggle text-dark" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    PANEL KANDYDATA
</a>
<div class="dropdown-menu">
    <a class=" text-dark dropdown-item" asp-area="Candidate" asp-controller="CandidatePanel" asp-action="Index" asp-route-name="Panel">Mój profil</a>
    <div class="dropdown-divider"></div>
    <a class=" text-dark dropdown-item" asp-area="Candidate" asp-controller="CandidatePanel" asp-action="Index" asp-route-name="AplikowaneOferty">Złożone aplikacje</a>
    <div class="dropdown-divider"></div>
    <a class=" text-dark dropdown-item" asp-area="Candidate" asp-controller="CandidatePanel" asp-action="Index" asp-route-name="Sledzfirmy">Obserwowani Pracowadcy</a>
    <div class="dropdown-divider"></div>
    <a class=" text-dark dropdown-item" asp-area="Candidate" asp-controller="CandidatePanel" asp-action="Index" asp-route-name="ZapisaneOferty">Zapisane Aplikacje</a>
    <div class="dropdown-divider"></div>
    <a class=" text-dark dropdown-item" asp-area="Candidate" asp-controller="CandidatePanel" asp-action="Index" asp-route-name="Powiadomienia">Powiadomienia</a>
    <div class="dropdown-divider"></div>
    <a class=" text-dark dropdown-item" asp-area="Candidate" asp-controller="CandidatePanel" asp-action="Index" asp-route-name="MojeRecenzje">Opinie</a>
</div>