@model JobApplication.Areas.Identity.Data.DTO.AppUserDto

<main role="main" class="pb-3">
    <div class="login-Containter">
        <div class="row">
            <div class="col-2">
                <div>
                    @*<div class="form-group">
                            <input name="file" type="file" onchange="ShowPreview(this)" class="btn btn-primary" />
                        </div>
                        <img ID="impPrev" class="img-fluid rounded" src="~/images/@Model.BackgroundImage" />*@
                </div>
            </div>
            <div class="col-10">
                <div class="row">
                    <div>
                        Text costam
                    </div>
                </div>
                <div class="row">
                    <div>
                        <input type="button" />
                    </div>
                </div>
            </div>
        </div>
        <form asp-action="ProfilePost" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" id="ID" asp-for="Id" />
            <div class="form-group">
                <input name="file" type="file" onchange="ShowPreview(this)" class="btn btn-primary" />
            </div>
            <img ID="impPrev" class="img-fluid rounded BackgroundImage backgroundimage-css" @*src="~/images/@Model.BackgroundImage"*@ />
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <b>NAZWA FIRMY*</b>
                    <input id="CompanyName" class="form-control form-input" asp-for="CompanyName" placeholder="Wprowadz nazwę firmy" />
                    <span asp-validation-for="CompanyName" class="text-danger"></span>
                </div>
                <div class="col-lg-6 col-md-12">
                    <b>EMAI*L</b>
                    <input id="Email" class="form-control form-input" asp-for="Email" placeholder="Wprowadz email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <b>NAGŁÓWEK*</b>
                    <input id="Headline" class="form-control form-input" asp-for="Headline" placeholder="Wprowadz nagłówek" />
                    <span asp-validation-for="Headline" class="text-danger"></span>
                </div>
                <div class="col-lg-6 col-md-12">
                    <b>TELEFON</b>
                    <input id="PhoneNumber" class="form-control form-input" asp-for="PhoneNumber" placeholder="Wprowadz email" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <b>STRONA WWW</b>
                    <input id="Website" class="form-control form-input" asp-for="Website" placeholder="Wprowadz stronę internetową" />
                    <span asp-validation-for="Website" class="text-danger"></span>
                </div>
                <div class="col-lg-6 col-md-12">
                    <b>DATA ZAŁOŻENIA=</b>
                    <input id="FoundingDate" class="form-control form-input" asp-for="FoundingDate" placeholder="Wprowadz datę założenia" />
                    <span asp-validation-for="FoundingDate" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <b>ROZMIAR FIRMY*</b>
                    <select asp-for="CompanySize" id="CompanySize" asp-items="@Html.GetEnumSelectList<JobApplication.Areas.Identity.Data.CompanySize>()" class="form-control"></select>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <b>KRÓTKI OPIS*</b>
                    <textarea asp-for="ShortDescription" class="form-control form-input" placeholder="Wprowadz krótki opis"> </textarea>
                    <span asp-validation-for="ShortDescription" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <b>OPIS</b>
                    <textarea asp-for="Descrption" class="form-control form-input" placeholder="Wprowadz krótki opis"> </textarea>
                    <span asp-validation-for="Descrption" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <b>PREFERENCJE ZAWODOWE</b>
                    <div class="row">
                        <div class="col-12">
                            <b>KATEGORIE=</b>
                            <input asp-for="Categories" class="form-control form-input" placeholder="Nie wybrano" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <b>LOKALIZACJA I MAPA</b>
                    <div class="row">
                        <div class="col-12">
                            mapa
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <b>ADRES PLIKU WIDEO</b>
                    <div class="row">
                        <div class="col-12">
                            <input asp-for="VideoUrl" class="form-control form-input" placeholder="Nie wybrano" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <b>ZDJĘCIE W TLE</b>
                    <div class="row">
                        <div class="col-2">
                            zdjecie
                        </div>
                        <div class="col-10">
                            <input type="button" asp-for="VideoUrl" class="form-control form-input" placeholder="Nie wybrano" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <b>GALERIA</b>
                    <div class="row">
                        ???
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <b>FIRMOWY PROFIL SPOŁECZNOŚCIOWY</b>
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <b>FACEBOOK</b>
                            <input id="FacebookProfile" class="form-control form-input" asp-for="FacebookProfile" placeholder="Wprowadz profil facebooka" />
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <b>TWITTER</b>
                            <input id="TwitterProfile" class="form-control form-input" asp-for="TwitterProfile" placeholder="Wprowadz profil twittera" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <b>YOUTUBE</b>
                            <input id="YoutubeProfile" class="form-control form-input" asp-for="YoutubeProfile" placeholder="Wprowadz profil youtube" />
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <b>VIMEO</b>
                            <input id="VimeoProfile" class="form-control form-input" asp-for="VimeoProfile" placeholder="Wprowadz profil vimeo" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <b>LINKEDIN</b>
                            <input id="LinkedinProfile" class="form-control form-input" asp-for="LinkedinProfile" placeholder="Wprowadz profil linkedin" />
                        </div>
                    </div>
                </div>
            </div>
            <input type="submit" value="Zaaktualizuj profil" class="btn btn-primary" />
        </form>
    </div>


    <a class="btn btn-secondary" asp-action="ResetPassword" >Zmień hasło</a>

    @*<div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="Input.Code" type="hidden" />
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Reset</button>
            </form>
        </div>
    </div>*@


</main>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


@*<form asp-action="ProfilePost" method="post">
        <input type="hidden" id="ID" asp-for="Id" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input id="CompanyName" asp-for="CompanyName" />
        <input id="VideoUrl" asp-for="VideoUrl" />
        <input id="Email" asp-for="Email" />
        <input id="Website" asp-for="Website" />
        <input id="FoundingDate" asp-for="FoundingDate" />
        <select asp-for="CompanySize" id="CompanySize" asp-items="@Html.GetEnumSelectList<JobApplication.Areas.Identity.Data.CompanySize>()" class="form-control"></select>
        <input id="ShortDescription" asp-for="ShortDescription" />
        <input id="Descrption" asp-for="Descrption" />
        <input id="Categories" asp-for="Categories" />
        <input id="Address" asp-for="Address" />


        <input id="UserName" asp-for="UserName" />
        <input id="PhoneNumber" asp-for="PhoneNumber" />
        <img id="BackgroundImage" alt="brak" />
        <input id="FacebookProfile" asp-for="FacebookProfile" />
        <input id="Gallery" asp-for="Gallery" />
        <input id="Headline" asp-for="Headline" />
        <input id="LinkedinProfile" asp-for="LinkedinProfile" />
        <input id="TwitterProfile" asp-for="TwitterProfile" />
        <input id="VideoUrl" asp-for="VideoUrl" />
        <input id="VimeoProfile" asp-for="VimeoProfile" />
        <input id="YoutubeProfile" asp-for="YoutubeProfile" />
        <input type="submit" value="Edit" class="btn btn-primary" />
    </form>*@
