<a class="nav-link dropdown-toggle text-dark" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    PANEL PRACODAWCY
</a>
<div class="dropdown-menu">
    <a class=" text-dark dropdown-item" asp-area="UserPanel" asp-controller="Panel" asp-action="" asp-route-name="Panel">Mój profil</a>
    <div class="dropdown-divider"></div>
    <a class=" text-dark dropdown-item" asp-area="UserPanel" asp-controller="Panel" asp-action="" asp-route-name="DodajOferte">Dodaj ofertę</a>
    <div class="dropdown-divider"></div>
    <a class=" text-dark dropdown-item" asp-area="UserPanel" asp-controller="Panel" asp-action="" asp-route-name="MojeOferty">Moje oferty</a>
    <div class="dropdown-divider"></div>
    <a class=" text-dark dropdown-item" asp-area="UserPanel" asp-controller="Panel" asp-action="" asp-route-name="OfertyAplikacyjne">Oferty aplikacyjne</a>
    <div class="dropdown-divider"></div>
    <a class=" text-dark dropdown-item" asp-area="UserPanel" asp-controller="Panel" asp-action="" asp-route-name="PakietyOfert">Pakiety ofert</a>
    <div class="dropdown-divider"></div>
    <a class=" text-dark dropdown-item" asp-area="UserPanel" asp-controller="Panel" asp-action="" asp-route-name="PakietyKandydatow">Pakiety kandydatów</a>
    <div class="dropdown-divider"></div>
    <a class=" text-dark dropdown-item" asp-area="UserPanel" asp-controller="Panel" asp-action="" asp-route-name="PrzegladaneZyciorysy">Przeglądane życiorysy</a>
    <div class="dropdown-divider"></div>
    <a class=" text-dark dropdown-item" asp-area="UserPanel" asp-controller="Panel" asp-action="" asp-route-name="Opinie">Opinie</a>
</div>