
@{
    ViewData["Title"] = "Index";
}

<h1>KANDYDAT</h1>
<div class="container">
    <div class="row">
        <div class="container">
            <a class="nav-link text-dark btn btn-success" asp-area="Identity" asp-page="/Account/Login">Logowanie</a>
        </div>
        <div class="container col-4">
            <form asp-area="Identity" asp-page="/Account/Register" method="get">

                <input type="text" hidden id="RejestrujJako" name="RejestrujJako" value="Kandydat">
                <input type="submit" value="Rerestracja" class="btn btn-secondary" onclick=" CLick()" />

            </form>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        function CLick() {
            $("#RejestrujJako").val("Kandydat");
        }
    </script>
}
