@model JobApplication.Areas.Identity.Data.ViewModels.UserAndOffers
@{
    ViewData["Title"] = "Index";
}

@*<h1>Index</h1>

    <h4>AppUserEmployeeExtension</h4>
    <hr />*@

<div class="tab">
    <div class="displayImage">
        <img alt="zdjecie" />
        <label>Witaj @User.Identity.Name!</label>
    </div>
    <button class="tablinks" id="Panel" onclick="OpenNavbarItem(event, 'Employer1')">Panel użytkownika</button>
    <button class="tablinks" id="Oferty" onclick="OpenNavbarItem(event, 'Employer2')">Dodaj ofertę pracy</button>
    <button class="tablinks" id="oferta" onclick="OpenNavbarItem(event, 'Employer3')">Wszystkie oferty pracy</button>
    <button class="tablinks" id="Oferty" onclick="OpenNavbarItem(event, 'Employer4')">Aplikacje</button>
    <button class="tablinks" id="Oferty" onclick="OpenNavbarItem(event, 'Employer5')">Pakiety</button>
    <button class="tablinks" id="Oferty" onclick="OpenNavbarItem(event, 'Employer6')">Zapisane cv</button>
    <button class="tablinks" id="Oferty" onclick="OpenNavbarItem(event, 'Employer7')">Opinie</button>
    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
        <button class="tablinks" type="submit">Wyloguj!</button>
    </form>
</div>

@*<div class="userPanelPadding">
    <main role="main" class="pb-3">
        <div class="login-Containter">*@
<div class="userPanelPadding">
    <div id="Employer1" class="tabcontent" style=" display:block">
        <main role="main" class="pb-3">
            <div class="login-Containter">
                <div class="row" style="padding:15px">
                    <div class="userblock-6">
                        <div class="box" style=" background-color:sandybrown">
                            <div class="row">
                                <div class="col-3">
                                    <div class="boxitem">
                                        <img alt="Zdjoncie" />
                                    </div>
                                </div>
                                <div class="col-9">
                                    <div class="boxitem">
                                        <div class="row">
                                            @User.Identity.Name
                                        </div>
                                        <div class="row">
                                            Nagłówek
                                        </div>
                                        <div class="row">
                                            <input type="button" id="editProfile" asp-route-name="?ProfileEdit" value="Edytuj" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" style="padding:15px">
                    <div class="col-12">
                        <div class="row">
                            <div class="userblock-3">
                                <div class="box" style="background-color:sandybrown">
                                    <div class="boxitem">
                                        cos tu
                                    </div>
                                </div>
                            </div>
                            <div class="userblock-3">
                                <div class="box" style="background-color:darkseagreen">
                                    <div class="boxitem">
                                        cos tu
                                    </div>
                                </div>
                            </div>
                            <div class="userblock-3">
                                <div class="box" style="background-color:cadetblue">
                                    <div class="boxitem">
                                        cos tu
                                    </div>
                                </div>
                            </div>
                            <div class="userblock-3">
                                <div class="box" style="background-color:blanchedalmond">
                                    <div class="boxitem">
                                        cos tu
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row" style="padding:15px">
                    <div class="col-12">
                        <div class="row">
                            <div class="userblock-6">
                                <div class="box" style="background-color:slategray">
                                    <div class="boxitem">
                                        cos tu
                                    </div>
                                </div>
                            </div>
                            <div class="userblock-6">
                                <div class="box" style="background-color:slategray">
                                    <div class="boxitem">
                                        cos tu
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    @*<form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="jobOffer.Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeOfJob" class="control-label"></label>
                <input asp-for="TypeOfJob" class="form-control" />
                <span asp-validation-for="TypeOfJob" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentMin" class="control-label"></label>
                <input asp-for="PaymentMin" class="form-control" />
                <span asp-validation-for="PaymentMin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentMax" class="control-label"></label>
                <input asp-for="PaymentMax" class="form-control" />
                <span asp-validation-for="PaymentMax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublicationTime" class="control-label"></label>
                <input asp-for="PublicationTime" class="form-control" />
                <span asp-validation-for="PublicationTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <input asp-for="Category" class="form-control" />
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Skills" class="control-label"></label>
                <input asp-for="Skills" class="form-control" />
                <span asp-validation-for="Skills" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Deadline" class="control-label"></label>
                <input asp-for="Deadline" class="form-control" />
                <span asp-validation-for="Deadline" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChooseTheCurrency" class="control-label"></label>
                <input asp-for="ChooseTheCurrency" class="form-control" />
                <span asp-validation-for="ChooseTheCurrency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>*@
    <div id="Employer2" class="tabcontent" style=" display:none">
        <main role="main" class="pb-3">
            <div class="login-Containter">
                <div class="row">
                    obrazek
                </div>
                <form asp-action="CreateNewJobOffer" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div>
                        <div class="row">
                            <div class="col-12">
                                <b>TYTUŁ*</b>
                                <input asp-for="jobOffer.Title" class="form-control form-input" placeholder="Wprowadz tytuł" />
                                <span asp-validation-for="jobOffer.Title" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="row">
                            <div class="col-12">
                                <b>OPIS*</b>
                                <textarea asp-for="jobOffer.Description" class="form-control form-input" placeholder="Wprowadz opis"> </textarea>
                                <span asp-validation-for="jobOffer.Description" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4 col-md-12">
                            <b>KATEGORIA OFERTY PRACY*</b>
                            <input asp-for="jobOffer.Category" class="form-control form-input" placeholder="Wybierz kategorię" />
                            <span asp-validation-for="jobOffer.Category" class="text-danger"></span>
                        </div>
                        <div class="col-lg-4 col-md-12">
                            <b>WYMIAR PRACY*</b>
                            <input asp-for="jobOffer.TypeOfJob" class="form-control form-input" placeholder="Wybierz wymiar pracy" />
                            <span asp-validation-for="jobOffer.TypeOfJob" class="text-danger"></span>
                        </div>
                        <div class="col-lg-4 col-md-12">
                            <b>POZIOM STANOWISKA*</b>
                            <input asp-for="jobOffer.TypeOfJob" class="form-control form-input" placeholder="Wybierz poziom stanowiska" />
                            <span asp-validation-for="jobOffer.TypeOfJob" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4 col-md-12">
                            <b>WYNAGRODZENIE OD</b>
                            <input asp-for="jobOffer.PaymentMin" class="form-control form-input" placeholder="Wprowadz wynagrodzenie od" />
                            <span asp-validation-for="jobOffer.PaymentMin" class="text-danger"></span>
                        </div>
                        <div class="col-lg-4 col-md-12">
                            <b>WYNAGRODZENIE DO</b>
                            <input asp-for="jobOffer.PaymentMax" class="form-control form-input" placeholder="Wprowadz wynagrodzenie do" />
                            <span asp-validation-for="jobOffer.PaymentMax" class="text-danger"></span>
                        </div>
                        <div class="col-lg-4 col-md-12">
                            <b>WALUTA</b>
                            <select asp-for="jobOffer.ChooseTheCurrency" class="form-input">
                                <option disabled selected>Wybierz walutę</option>
                                <option value="PLN">PLN</option>
                                <option value="EUR">EUR</option>
                                <option value="GBP">GBP</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4 col-md-12">
                            <b>JĘZYKI</b>
                            <input type="text" placeholder="Wybierz język" style="width:100%" />

                        </div>
                        <div class="col-lg-4 col-md-12">
                            <b>PŁEĆ</b>
                            <input type="text" placeholder="Wprowadz płeć" style="width:100%" />

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <b>USTAWIENIA APLIKACJI</b>
                            <div class="row">
                                <div class="col-6">
                                    <b>TERMIN SKŁADANIA APLIKACJI</b>
                                    <input asp-for="jobOffer.Deadline" class="form-control form-input" placeholder="Wprowadz deadline" />
                                    <span asp-validation-for="jobOffer.Deadline" class="text-danger"></span>
                                </div>
                                <div class="col-6">
                                    <b>E-MAIL DO SKŁADANIA APLIKACJI</b>
                                    <input asp-for="jobOffer.Deadline" class="form-control form-input" placeholder="Wprowadz deadline" />
                                    <span asp-validation-for="jobOffer.Deadline" class="text-danger"></span>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <b>WYMAGANE UMIEJĘTNOŚCI</b>
                            <input asp-for="jobOffer.Skills" class="form-control form-input" placeholder="Wprowadz wymagane umiejętności" />
                            <span asp-validation-for="jobOffer.Skills" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <b>LOKALIZACJA I MAPA</b>
                            Mapa fajna
                            <input asp-for="jobOffer.Location" class="form-control form-input" placeholder="Wprowadz tytuł" />
                            <span asp-validation-for="jobOffer.Location" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <b>PublicationTIme</b>
                            <input asp-for="jobOffer.PublicationTime" class="form-control form-input" placeholder="Wprowadz tytuł" />
                            <span asp-validation-for="jobOffer.PublicationTime" class="text-danger"></span>
                        </div>
                    </div>
                    <input type="submit" />
                </form>
            </div>
        </main>
    </div>

    <div id="Employer3"  class="tabcontent" style=" display:none">
       
    </div>

    <div id="Employer4" class="tabcontent" style=" display:none">
        <main role="main" class="pb-3">
            <div class="login-Containter">
                <div class="row">
                    <div class="col-3">
                        <div>
                            <select class="form-input">
                                <option>1</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-1">
                        <div>
                            Tutaj obrazek lupy
                        </div>
                    </div>
                    <div class="col-3">
                        <div>
                            <select class="form-input">
                                <option>1</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-3">
                        <div>
                            <select class="form-input">
                                <option>1</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    Tu bedzie tabela z aplikacjami
                </div>
            </div>
        </main>
    </div>

    <div id="Employer5" class="tabcontent" style=" display:none">
        <main role="main" class="pb-3">
            <div class="login-Containter">
                <div class="row">
                    <input type="button" value="NOWY PAKIET" />
                </div>
                <div class="row">
                    Tu bedzie tabela z pakietami
                </div>
            </div>
        </main>
    </div>

    <div id="Employer6" class="tabcontent" style=" display:none">
        <main role="main" class="pb-3">
            <div class="login-Containter">
                <div class="row">
                    <div class="col-3">
                        <div>
                            <select class="form-input">
                                <option>1</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-1">
                        <div>
                            Tutaj obrazek lupy
                        </div>
                    </div>
                </div>
                <div class="row">
                    Tu bedzie tabela z cv
                </div>
            </div>
        </main>
    </div>

    <div id="Employer7" class="tabcontent" style=" display:none">
        <main role="main" class="pb-3">
            <div class="login-Containter">
                <div class="row">
                    <div class="col-3">
                        <div>
                            <select class="form-input">
                                <option>1</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-1">
                        <div>
                            Tutaj obrazek lupy
                        </div>
                    </div>
                </div>
                <div class="row">
                    Tu bedzie tabela z opiniami
                </div>
            </div>
        </main>
    </div>
    @*</div>
            </main>
        </div>*@


    @*<div>
            <a asp-action="Index">Back to List</a>
        </div>*@



    @*<div class="row">
            <div class="col-md-4">
                <form asp-action="Index">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="UserName" class="control-label"></label>
                        <input asp-for="UserName" class="form-control" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="IsShowing" /> @Html.DisplayNameFor(model => model.IsShowing)
                            </label>
                        </div>
                        <div class="form-group">
                            <label asp-for="CVFile" class="control-label"></label>
                            <input asp-for="CVFile" class="form-control" />
                            <span asp-validation-for="CVFile" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Languages" class="control-label"></label>
                            <input asp-for="Languages" class="form-control" />
                            <span asp-validation-for="Languages" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="UserId" class="control-label"></label>
                            <input asp-for="UserId" class="form-control" />
                            <span asp-validation-for="UserId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>

                </form>
            </div>
        </div>*@
</div>
<div class="p-4 border rounded">

    <input id="CompanyName" />
    <div>
        <input id="VideoUrl" />
        <input id="Email" asp-for="appUser.Email" />
        <input id="Website" />
        <input id="FoundingDate" />
        <input id="CompanySize" />
        <input id="ShortDescription" />
        <input id="Descrption" />
        <input id="Categories" />
        <input id="Address" />
    </div>
</div>
<button type="button" id="button1">Load Partial View</button>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>

        $("#editProfile").click(function () {
            $.ajax({
                method: "GET",
                url: "/Panel/EditProfile",
                success: function (data) {
               //     alert(data);
                    // if data is in string format
                    var Data = $.parseJSON(data);
                    $("#CompanyName").val(Data.CompanyName);
                    $("#Email").val(Data.Email);
                    $("#CompanyName").val(Data.CompanyName);
                    $("#CompanyName").val(Data.CompanyName);
                    $("#CompanyName").val(Data.CompanyName);
                    $("#CompanyName").val(Data.CompanyName);
                    $("#CompanyName").val(Data.CompanyName);
                    $("#CompanyName").val(Data.CompanyName);

                }
            });
        });

        //$(document).ready(function () {
        //    $(".tablinks").click(function () {
        //        var id = $(this).attr("id");
        //        var url = "/Panel?ID=" + id;
        //        window.location.href = url;
        //    });
        //});

        $(document).ready(function () {

            $("#oferta").click(function () {
                $("#Employer3").load("/Panel/GetPartialView");
            });

        });

        function OpenNavbarItem(evt, itemNumber) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(itemNumber).style.display = "block";
            evt.currentTarget.className += " active";
        }

    </script>
}
