
@{
    ViewData["Title"] = "Index";

}

<h1>Pracodawca</h1>
<div class="container">
    <div class="row container-fluid">


        <a class="btn btn-success" asp-area="Identity" asp-page="/Account/Login">Login</a>
        <form asp-area="Identity" asp-page="/Account/Register" method="get">

            <input type="text" hidden id="RejestrujJako" name="RejestrujJako" value="Pracodawca">
            <input type="submit" class="btn btn-secondary" value="Rejestracja" onclick=" CLick()" />

        </form>
    </div>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        function CLick() {
            $("#RejestrujJako").val("Pracodawca");
        }
    </script>
}
