@{
    ViewData["Title"] = "Home Page";
}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>

<div class="container">
    <main role="main" class="pb-3">
        <div class="text-center">
            <h1 class="display-4">Welcome</h1>
            <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Cor e</a>.</p>
        </div>

        @if (User.IsInRole(SD.EmployerRole))
        {
            <p>pracownik</p>
        }

        @if (User.IsInRole(SD.CandidateRole))
        {
            <p>kandydat</p>
        }

        <div class="lds-ellipsis-wrapper">
            <div class="lds-ellipsis" id="Loader"><div></div><div></div><div></div><div></div></div>
        </div>

    </main>
</div>

