/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: #f5f6f7;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.backgound-image-register {
    background-image: url(../images/bg-page-heading.jpg);
    background-size: cover;
    width: 100%;
    min-height: 20em;
    background-position: center;
    background-repeat: no-repeat;
}

.login-Containter {
    background-color: white;
    padding: 70px;
}

.form-containter {
    padding: 14px 28px 14px 28px;
}

.login-label {
    color: royalblue;
    margin-bottom: 6px;
}

.borderless-form {
    width: 100%;
    border: hidden;
}

.button-active{
    background-color:white;
}

.button-notactive{
    background-color:cornflowerblue;
}

.firma{
    display:none
}

.button1{
}

.button2{

}

.menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .menu .menu-item {
        position: relative;
        cursor: pointer;
    }

        .menu .menu-item .wee {
            height: 2px;
            width: 100%;
            background-color: #002b75;
            position: absolute;
            left: 0;
            bottom: 0;
            transition: 0.75s;
        }

        .menu .menu-item h6 {
            margin: 0;
            padding: 0 1rem 1.5rem;
            font-size: 1rem;
            color: #232323;
            transition: 0.75s;
        }

        .menu .menu-item:hover h6 {
            color: #002b75;
        }

    .menu .current-menu-item h6 {
        color: #002b75;
    }

