/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    padding: 0px;
    height: 100px;
    line-height: 100px;
}

body {
    padding-top:116px;
}

@media screen and (max-width: 768px) {
    body {
        padding-top: 0px;
    }
}

.navbar a {
    color: white !important;
    font-size: 13px;
}
/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: #f5f6f7;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
  clear: both;
    position: relative;
    height: 0px;

}

.backgound-image-register {
    background-image: url(../images/bg-page-heading.jpg);
    background-size: cover;
    width: 100%;
    min-height: 20em;
    background-position: center;
    background-repeat: no-repeat;
}

.login-Containter {
    background-color: white;
    padding: 70px;
}

.form-containter {
    padding: 14px 28px 14px 28px;
}

.login-label {
    color: royalblue;
    margin-bottom: 6px;
}

.borderless-form {
    width: 100%;
    border: hidden;
}

.firma{
    display:none
}

.button1 {
    color: white;
}

.button2 {
    color: white;
}

.menu {
    width:400px;
    display: inline-block;
    justify-content: center;
    background-color: dodgerblue;
    border-radius: 20px;
}

.menu .menu-item {
    padding: 10px 17px 10px 20px;
    cursor: pointer;
}

    .menu .menu-item .wee {
        height: 90%;
        width: 98%;
        background-color: white;
        position: absolute;
        left: 2px;
        bottom: 2px;
        transition: 0.2s;
        border-radius: 20px;
        z-index: -1;
    }

.menu .row {
    margin: 0px;
}

.menu .current-menu-item{
    z-index:0;
}

figure {
    text-align: center;
}

figcaption {
    position: absolute;
    width: 200px;
    text-align: center;
    top: 200px;
    left: 200px;
    color: white;
    font-weight: bold;
    font-size:36px;
}
.main-settings figcaption {
    width: 100%;
    left: 0px;
    line-height: 50px;
}

.disabled {
    color: black;
}

.dropdown {
    list-style: none;
    display: inline-block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    z-index: 1;
    top:30px;
}
    .dropdown-menu a {
        color: #FFFFFF !important;
    }
/*.dropdown-all {
    position: relative;
    display: inline-block;
}
.dropdown-all:hover .dropdown-menu {
    display: block;
}*/

.container .dropdown .dropdown-menu a:hover {
    color: #1d448c !important;
    background-color: #3b6ad1;
}

.dropdown:hover > .dropdown-menu {
    display: block;
    background-color: #3b6ad1;
    animation: animation 300ms ease-in-out forwards;
    transform-origin: top center;
}

@keyframes animation {
    0% {
        transform: scaleY(0)
    }
    80% {
        transform: scaleY(1.1)
    }

    100% {
        transform: scaleY(1)
    }
}

.dropdown > .dropdown-toggle:active {
    pointer-events: none;
}

.nav-background {
    background-color: #3b6ad1 !important;
}

.lds-ellipsis-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #3b6ad1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 300px;
}
.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

    .lds-ellipsis div {
        position: absolute;
        top: 33px;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background: #fff;
        animation-timing-function: cubic-bezier(0, 1, 1, 0);
    }

        .lds-ellipsis div:nth-child(1) {
            left: 8px;
            animation: lds-ellipsis1 0.6s infinite;
        }

        .lds-ellipsis div:nth-child(2) {
            left: 8px;
            animation: lds-ellipsis2 0.6s infinite;
        }

        .lds-ellipsis div:nth-child(3) {
            left: 32px;
            animation: lds-ellipsis2 0.6s infinite;
        }

        .lds-ellipsis div:nth-child(4) {
            left: 56px;
            animation: lds-ellipsis3 0.6s infinite;
        }

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(24px, 0);
    }
}

/* Style the tab */
.tab {
    float: left;
    background-color:  #3c4445;
    color:azure;
    width: 20%;
    height: 100%;
}

    .tab .tablinks {
        display: block;
        border-top: 15px solid #5a5a5a;
        background-color: inherit;
        color: azure;
        padding: 22px 16px;
        width: 100%;
        border: none;
        outline: none;
        text-align: left;
        cursor: pointer;
        transition: 0.3s;
    }

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    float: left;
    padding: 0px 12px;
    width: 100%;
    border-left: none;
    display: block
}

.userPanelPadding {
    float: right;
    width: 75%;
    background-color: white;
    margin: 2.5%;
    height:100%;
}

.displayImage{
    width:100%;
    height: 50px;
    padding:10px;
}

.userblock-3 {
    width: 25%;
    flex: 0 0 25%;
    padding:5px;
}

.userblock-6 {
    width: 50%;
    flex: 0 0 50%;
    padding: 5px;
}

.box {
    box-shadow: rgba(0, 0, 0, 0.30) 0px 0px 5px 0px;
    border-radius: 5px;
}

.c-royalblue {
    color: royalblue;
}

.sandybrown {
    background-color: sandybrown
}

.darkseagreen {
    background-color: darkseagreen
}

.cadetblue {
    background-color: cadetblue
}

.blanchedalmond {
    background-color: blanchedalmond
}

.slategray {
    background-color: slategray
}

.boxitem {
    padding: 15px;
    text-align: center;
}

.background-main-image {
    background-image: url(../images/banner-1020369_1920222-1.png);
    background-size: cover;
    width: 100%;
    min-height: 30em;
    background-position: center;
    background-repeat: repeat-x;
    animation: main-image-animation 50s linear infinite;
}

@keyframes main-image-animation {
    100% {
        background-position: 2000px 0px;
    }
}

.main-text {
    color: #dbab27;
    text-shadow: 3px 1px 11px rgba(0,0,0,0.89);
    font-size:56px;
}

.text-box{
    position: center;
    text-align:center;
}

.text-box input {
    padding-top: 5px;
    height: 30px;
    width: 220px;
    border:none;
    background:none;
    color:white;
}

.select-box select {
    padding-top: 5px;
    height: 30px;
    width: 220px;
    border:none;
    background:none;
    color:white;
}


.field-item {
    border-radius: 4px;
    font-size: 16px;
    opacity: 0.6;
    display: inline-block;
    background-color: #383838;
    height: 95px;
    width: 260px;
    margin: 10px;
    border: 3px solid;
    border-color: #383838;
}
    .field-item:hover {
        border: 3px solid;
        border-color: #4876b8;
        animation-duration: 0.2s;
    }

.main-button {
    border: 3px solid;
    border-radius: 4px;
    border-color: #21256b;
    color: inherit;
    background-color: #21256b;
    padding:25px 35px 25px 35px;
    bottom:20px;
    position:absolute;
}
    .main-button:hover {
        border-color: #e8b833;
        color: #e8b833;
    }
    .main-button:active {
        margin-left: 4px;
    }

.form-input {
    width: 100%;
}

.backgroundimage-css{
    height:150px;
    width:300px;
}

.job-offer-images-main{
    height:130px;
    width:130px;
    border-radius:4px;
}

.container-padding{
    padding: 10px 0px 10px 0px;
}

.text-bottom-left-padding {
    padding-bottom: 10px;
    padding-left: 5px;
}

.bolded{
    font-weight:bold;
}

.map-view {
    height: 300px;
    width:100%;
}

.PanelImage {
    width: 70px;
    height: 70px;
}

.NavImage {
    width: auto;
    height: auto;
}

.w-2{
    width:2%;
}

.menu-Container {
    margin: 0px 150px 0px 150px;
    padding: 0px 15px 0px 15px;
}

.a-button{
    cursor:pointer;
}

.a-button:hover {
    background-color:gray;
}

.backgound-image-news {
    background-image: url(../images/news2.jpg);
    background-size: cover;
    width: 100%;
    min-height: 10em;
    background-position: center;
    background-repeat: no-repeat;
}

.backgound-image-Employer {
    background-image: url(../images/indeks.jpg);
    background-size: cover;
    width: 100%;
    min-height: 30em;
    background-position: center;
    background-repeat: no-repeat;
}


.centered {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -100%);
    padding:40px;
    top:inherit;
    bottom:inherit;
}

.background-offers-image {
    background-image: url(../images/OfertyBg.jpg);
    background-size: cover;
    width: 100%;
    min-height: 18em;
    background-position: center;
    background-size: 100% 400px;
    background-repeat: no-repeat;
}

.filter-area{
    padding:15px;
    background-color:white;
    margin-top:10px;
    margin-bottom:10px;
}

.container-center{
    display:grid;
}

.backgound-image-choice1 {
    background-image: url(../images/news2.jpg);
    background-size: cover;
    width: 100%;
    min-height: 22em;
    background-position: center;
    background-repeat: no-repeat;
}

.backgound-image-choice2 {
    background-image: url(../images/OfertyBg.jpg);
    background-size: cover;
    width: 100%;
    min-height: 22em;
    background-position: center;
    background-repeat: no-repeat;
}

.text-on-img-back {
    font-size: 22px;
    color: white;
 text-shadow: 1px 1px 1px black;
}

.text-on-img-back-main {
    font-size: 32px;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
}

.rounded-5{
    border-radius:5px;
}

.TypeOfJob {
    padding-top: 4px;
    font-size: 12px;
    height: 30px;
    width: 100px;
    border: 2px solid;
    border-radius: 25px;
    color: white;
}

.TypeOfJob-Freelancer {
    border-color: red;
    background-color: red;
}

.TypeOfJob-Kontrakt {
    border-color: blue;
    background-color: blue;
}

.TypeOfJob-Pełny_etat {
    border-color: orange;
    background-color: orange;
}

.TypeOfJob-Część_etatu {
    border-color: forestgreen;
    background-color: forestgreen;
}

.TypeOfJob-Praca_czasowa {
    border-color: cyan;
    background-color: cyan;
}

.TypeOfJob-Praktyka {
    border-color: palevioletred;
    background-color: palevioletred;
}

.TypeOfJob-Wolontariat {
    border-color: yellow;
    background-color: yellow;
}

.joboffer-main {
    border: 1px solid;
    border-radius: 4px;
    border-color: #cfd0d1;
    height: 250px;
}

.joboffer-main:hover {
    box-shadow: 0px 0px 48px -7px rgba(153,194,240,1);
}

    .joboffer-main:hover .TypeOfJob-Freelancer {
        background-color: white;
        color: red;
    }

    .joboffer-main:hover .TypeOfJob-Kontrakt {
        background-color: white;
        color: blue;
    }

    .joboffer-main:hover .TypeOfJob-Pełny_etat {
        background-color: white;
        color: orange;
    }

    .joboffer-main:hover .TypeOfJob-Część_etatu {
        background-color: white;
        color: forestgreen;
    }

    .joboffer-main:hover .TypeOfJob-Praca_czasowa {
        background-color: white;
        color: cyan;
    }

    .joboffer-main:hover .TypeOfJob-Praktyka {
        background-color: white;
        color: palevioletred;
    }

    .joboffer-main:hover .TypeOfJob-Wolontariat {
        background-color: white;
        color: yellow;
    }



.text-black{
    color:black;
}

.image-joboffer{
    width:250px;
    height:250px;
}

.text-20{
    font-size:20px;
}