
@{
    ViewData["Title"] = "Index";

}

<h1>Pracodawca</h1>

<form asp-area="Identity" asp-page="/Account/Register" method="get">
    <p>
        Title: <input type="text" name="RejestrujJako">
        <input type="submit" value="Candidate" />
    </p>
</form>

<a class="nav-link text-dark btn btn-secondary" asp-area="Identity" asp-page="/Account/Register">Register</a>


<a class="nav-link text-dark btn btn-success" asp-area="Identity" asp-page="/Account/Login">Login</a>